/* Add screen styles below */
a.active {
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Monospace,;
    min-height: 100vh; 
    background-color: #E0DDCF;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #474448;
    font-size: 20px;
    color: #E1E2DA;
    padding: 10px;
    z-index: 1000;

  }
  

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex: 1;
  }

  nav ul li{
    display: inline-block;
    margin: 0 15px;
  }

  nav ul a {
    color: #E1E2DA;
    text-decoration: none;
}

.school-logo {
    margin-left: auto;
}

.school-logo img {
    height: 100%; 
    width: auto;
    display: block; 
    max-width: 50px;
}

.rectangle-background{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    position: relative; 
    text-align: center;
    z-index: -1;
    left: 0;
    height: calc(100vh - 60px);
} 

.rectangle {
    background-size: cover; 
    background-position: center; 
    height: 100%; 
    width: 100%;
    overflow: hidden; 
}

  .img1 { 
    background-image: url('classroom.jpg');
}

.img2 { 
    background-image: url('design.jpg');
}

.img3 { 
    background-image: url('fashions.jpg');
}
.img4 { 
  background-image: url('inspo.jpg');
}

.img5 { 
  background-image: url('students.jpg');
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: #d7af6a;
    z-index: 10;
    text-align: center;
  }

.name {
    display: inline-block;
    padding: 20px 40px;
    border: 5px solid #d7af6a; 
    background-color: rgba(0, 0, 0, 0.389);
    border-radius: 10px;
}

right-side-content {
  position: absolute;
  top: 0;
  right: 0; 
  width: 40%; 
  height: 100%; 
  padding: 20px;
  background-color: #E0DDCF; 
  overflow-y: auto ;
}

#academic-calendar, #newsletter {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
}

scrollable {
  max-height: 400px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 18px;
}
/*.month {
    padding: 20px 15px;
    width: 250px;
    background: #1abc9c;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }

  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
  } */